body {
  background-color: rgb(233, 233, 203);
}

#img-div {
  text-align: center;
}

#img-div img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  text-align: center;
  font-family: "Pure CSS Text Animation", sans-serif;
}

#img-caption {
  text-align: center;
  font-style: italic;
}

#tribute-info {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#tribute-info ul {
  padding: 0;
  margin: 0;
}

#tribute-info li {
  text-align: left;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

#tribute-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #b22222;
}

#tribute-link:hover {
  color: #800000;
}
